header {
background-color: #0ec5dd;
color: azure;
height: 45px;
padding: 10px;
font-family:Georgia, 'Times New Roman', Times, serif;
font-size: 16px;
}
footer {
    background-color: burlywood;
    height: 25px;
}

p{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darkblue;
}